<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <!-- <div class="card mx-4">
              <div class="card-body p-4"> -->
                <mat-card>
                  <form [formGroup]="forgetForm"> 
                    <h1>Forget Password</h1>
                    <p class="text-muted">Enter Account Details</p>
                    <div class="input-group mb-3">
                      <!-- <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="email" autocomplete="email" required> -->
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Email" formControlName="email" required>
                      </mat-form-field>
                    </div>
                    <div class="input-group mb-3" *ngIf="isEmailEntered">
                      <!-- <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                      </div>
                      <input type="text" class="form-control" placeholder="OTP" autocomplete="otp" required> -->
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="OTP" formControlName="otp" required>
                      </mat-form-field>
                    </div>
                    <div  >
                      <!-- <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" class="form-control" placeholder="Password" required> -->
                      <mat-form-field class="example-full-width" *ngIf="validUser">
                        <input matInput type="password"  formControlName="password" placeholder="Password" required>
                      </mat-form-field>
                    </div>
                    <div class="input-group mb-3" >
                      <!-- <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" class="form-control" placeholder="Confirm Password" required> -->
                      <mat-form-field class="example-full-width"  *ngIf="validUser">
                        <input matInput type="password"  formControlName="confirmPassword" placeholder="Confirm Password" required>
                      </mat-form-field>
                    </div>
                    <button type="button" mat-stroked-button (click)="validateEmail()" *ngIf="!isEmailEntered" [disabled]="forgetForm.invalid" >Submit</button>
                    <button type="button" mat-stroked-button (click)="validateOTP()" *ngIf="isEmailEntered && !validUser" [disabled]="forgetForm.controls.otp.value == ''">Verify</button>
                    <button type="button" mat-stroked-button (click)="changePassword()" *ngIf="validUser" [disabled]="forgetForm.controls.password.value && forgetForm.controls.confirmPassword.value  == ''" >Update</button>
                  </form>
                </mat-card>
              <!-- </div>
            </div> -->
          </div>
        </div>
      </div>
    </main>
  </div>
  